Package: me
Version: 2.85
Section: python
Priority: optional
Architecture: all
Source: me
Maintainer: Carlos Padilla Labella <cpadlab@gmail.com>
Build-Depends: _install/install.sh
Standards-Version: 2.85
Homepage: http://14wua.github.io/me
Depends: none
Description:
 Me is an application that allows you to perform certain basic tasks. Manage passwords, contacts, tasks, notes, search the web with a command, emulate python, among others!
